<h1>New Additional</h1>

<%= form_with(model: @additional , url: product_additionals_path(params[:product_id]) , local: true) do |form| %>
    <%= render partial: 'form', additional: @additional , locals: { form: form } %>
<% end %> 