<h1>Payment Details</h1>
<div class="showProduct">
<p>
  <strong>Product Name:</strong>
  <%=  @product.name%>
</p>

<p>
  <strong>Payment Method:</strong>
  <%=  @payment.method.byteslice(19..-3) %>
</p>
<p>
  <strong>Price:</strong>
  <%=  @payment.amount %>
</p>

<br>
<h3 style="color:green">Payment successfull</h3>

</div>
<br><br>
<%= link_to "Go to Homepage" , root_path , class:"btn btn-light"%>