<%= link_to 'Back', root_path %>
<h1 style="color:#707070;">Enter product details</h1>
<div style="display:flex;margin-top:50px">
<img src="/images/newproduct.svg" alt="new product image" width="500" height="500" style="margin-right:100px"/>
<%= render 'form', product: @product %>
</div> 
